<style>
    .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    padding: 10px;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1>{{title}}</h1>
</div>
<div style="display: flex; margin-top: 100px; flex-direction: column;">
  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nav>
  <router-outlet></router-outlet>
</div>
<app-messages></app-messages>

